*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(246,248,249,255);
}

header{
    background-color: white;
    padding: 25px;
    vertical-align: middle;
}

img, h1{
    display: inline-block;
}

#container{
    width: 900px;
    margin: auto;
    padding: 50px;
}

section{
    padding: 25px;
}

.green{
    color: rgba(101,193,171,255);
}