*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(246,248,249,255);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
    padding: 25px;
    vertical-align: middle;
}

img, h1{        /* allineamento logo e titolo */
    display: inline-block;
    vertical-align: middle;
}

nav{            /* spacing sinistro dei pulsanti */
    padding-left: 65px;
}

                /* container */
.container{
    width: 85%;
    max-width: 900px;
    margin: auto;
    background-color: white;
}

.top{
    margin-top: 50px;
    margin-bottom: 3px;
    border-radius: 5px 5px 0 0;
}

.bottom{
    margin-bottom: 50px;
    border-radius: 0 0 5px 5px;
}


article{        /* spacing degli articoli */
    padding: 13px 15px;
}

section{        /* spacing delle sezioni */
    padding: 10px 30px;
}

h2{             /* spazio sotto i titoli delle sezioni */
    padding-bottom: 15px;
}

.circle{
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
}

                    /* pulsanti */
button{
    border-radius: 7px;
    padding: 7px;
    margin: 17px 0 10px;
}

.button1{
    background-color: rgba(71,173,241,255);
    border: 2px solid rgba(71,173,241,255);
}

.button2{
    background-color: white;
    border: 2px solid rgba(205,210,214,255);
}

                    /* etichette */
.label{
    padding: 10px;
    border-radius: 15px;
}

                    /* colori testo */
.green{
    color: rgba(101,193,171,255);
}

.red{
    color: rgba(231,59,51,255);
}

.white{
    color: white;
}

.grey{
    color: rgba(205,210,214,255);
}

                    /* colori etichette */
.celeste{
    background-color: rgba(69,171,234,255);
}

.violet{
    background-color: rgba(156,114,228,255);
}

.lgreen{
    background-color: rgba(100,192,169,255);
}

.orange{
    background-color: rgba(242,158,51,255);
}

.magenta{
    background-color: rgba(216,99,161,255);
}

.sheen{
    background-color: rgba(176,201,38,255);
}
